.card{
    float: left;
    margin: 0cm;
    align-items: center;
    border-color:white;
    margin-top: 1cm;
   
    


}
.butt{
    background-color:black;
   
    border-radius: 25%;
    border-color: black;
}
.card{
    width: 25%;
}
